body {
    background-color: beige;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: sandybrown;
   height: 60px;
}

.navigation a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    
}

.predmet:hover{
    background-color: #ff6a00;
    color: white;
}

.navigation a:hover {
    color: wheat;
}

.odjava {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}



.odjava {
    background-color: beige;
}

.odjava:hover {
    background-color: #ff6a00;
}


.profil {
    background-color: #0074cc;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}



.naziv_predmeta {
    border: 1px solid black;
    text-align: center;
}

.sredina {
    width: 30%; /* Adjust the width based on your layout */
    display: inline-block;
    text-align: center;
    margin:20px;
}



.desni_div {
    
    width: 270px; /* Adjust the width based on your layout */
    float: left;
}

.predmet {
    border: 2px solid black;
    width: 400px; /* Adjust the width based on your layout */
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: sandybrown;
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}
