body {
    background-color: beige;
}
header {
    padding: 20px;
}
input {
    width: 400px;
    padding: 10px;
    margin-top: 5px;
    color: black;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: beige;
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 60px;
    margin: 15px;
}
a {
    color: black;
}
a:hover {
    color: grey;
}
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 17px;
}
button {
    padding: 10px;
    border-radius: 20px;
    border: solid sandybrown;
    color: black;
    background-color: sandybrown;
    margin-top: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
    button:hover {
        padding: 10px;
        border-radius: 20px;
        border: solid #f5c093;
        background-color: #f5c093;
        color: black;
    }

    /* CSS for select and option elements */
select {
    width: 400px;
    padding: 10px;
    margin-top: 5px;
    color: black;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
    background-color: beige;
}

option {
    padding: 10px;
    color: black;
    font-size: 20px;
}

    