body {
    background-color: beige;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: sandybrown;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navigation a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #0074cc;
}

.add-subject-button, .profil, .odjava {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.add-subject-button {
    background-color: #0074cc;
}

.add-subject-button:hover {
    background-color: #005faa;
}

.profil, .odjava {
    background-color: orangered;
}

.profil:hover, .odjava:hover {
    background-color: #ff6a00;
}


        .predmet
        {
            
            border: 2px solid black;
            width: 300px;
            height: 100px;
            display: inline-flex;
            justify-content: center; 
            align-items: center; 
            margin: 1px;
            border-radius: 10px;
            background-color: sandybrown;
            color: black;
            text-decoration: none;
        }

        a{
            text-decoration: none;
            color: black;
        }
        .sredina
        {
            padding-left: 140px;
            width: 300px;
            height: 200px;
            display: inline-flex;
            justify-content: center; 
            align-items: center; 
            
        }

        .levinav {
            order: 3; /* Position levinav on the right */
          }
          
          .logo {
            order: 2; /* Position logo in the middle */
            flex: 1; /* Allow the logo to expand and fill available space */
          }
          
          .desninav {
            order: 1; /* Position desninav on the left */
          }
       